@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* line 10, ../sass/partials/_base.scss */
html {
  font-size: 62.5%;
  line-height: 1.4em;
}

/* line 17, ../sass/partials/_base.scss */
body {
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Lato";
  background: #281a2c;
}

/* line 25, ../sass/partials/_base.scss */
.page {
  font-size: 14px;
  font-size: 1.4rem;
  overflow: hidden;
}

/* line 30, ../sass/partials/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 35, ../sass/partials/_base.scss */
p, li, dd {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.4em;
}

/* line 40, ../sass/partials/_base.scss */
p {
  margin: 0 0 0.7em 0;
  font-size: 20px;
  font-size: 2rem;
}

/* line 45, ../sass/partials/_base.scss */
a, a.active {
  text-decoration: none;
}

/* line 49, ../sass/partials/_base.scss */
a:hover {
  text-decoration: none;
}

/* line 53, ../sass/partials/_base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em 0;
  font-weight: 600;
  font-style: normal;
  line-height: 1.2em;
  font-family: "Montserrat";
}

/* line 61, ../sass/partials/_base.scss */
h1 {
  font-size: 24px;
  font-size: 2.4rem;
}

/* line 65, ../sass/partials/_base.scss */
h3 {
  font-size: 20px;
  font-size: 2rem;
}

/* line 69, ../sass/partials/_base.scss */
h4 {
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 73, ../sass/partials/_base.scss */
h5 {
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 77, ../sass/partials/_base.scss */
h6 {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 81, ../sass/partials/_base.scss */
ul {
  margin: 0 0 0.5em 0;
  padding: 0 0 0 3em;
}

/* line 86, ../sass/partials/_base.scss */
table {
  margin: 0;
  background-color: transparent;
  width: 100%;
  font-size: 15px;
  font-size: 1.5rem;
}
/* line 91, ../sass/partials/_base.scss */
table caption {
  font-weight: 600;
  padding: 0.5em;
  margin: 0.5em auto;
}
/* line 96, ../sass/partials/_base.scss */
table td, table th {
  padding: 0.5em;
}
/* line 99, ../sass/partials/_base.scss */
table thead th, table tfoot th {
  font-weight: 600;
}
/* line 102, ../sass/partials/_base.scss */
table tfoot th {
  border-top: 0.1em inset #000;
}
/* line 105, ../sass/partials/_base.scss */
table thead th {
  border-bottom: 0.1em inset #000;
}

/* line 110, ../sass/partials/_base.scss */
tr.even, tr.odd {
  background-color: transparent;
}

/* line 9, ../sass/partials/_layout.scss */
.grid {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

/* line 14, ../sass/partials/_layout.scss */
.content-container {
  position: relative;
  z-index: 11;
  background: #281a2c;
  border-top: solid 3px #00CCFF;
}

/* line 1, ../sass/partials/_placeholders.scss */
.gallery li, .social-menu li {
  list-style-type: none;
}

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
/* line 15, ../sass/partials/components/_flexslider.scss */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

/* line 22, ../sass/partials/components/_flexslider.scss */
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
/* line 33, ../sass/partials/components/_flexslider.scss */
.under-slides {
  position: fixed;
  left: 0;
  top: 60%;
  width: 100%;
  text-align: center;
}
/* line 42, ../sass/partials/components/_flexslider.scss */
.under-slides h3 {
  font-weight: 400;
  font-size: 15px;
  color: #00d5d8;
}

/* line 49, ../sass/partials/components/_flexslider.scss */
.slides-go-down {
  width: 100%;
  text-align: center;
  height: 50px;
  position: absolute;
  z-index: 10;
  top: 70%;
  left: 0;
  margin-top: -20px;
}
/* line 61, ../sass/partials/components/_flexslider.scss */
.slides-go-down a {
  display: inline-block;
  height: 80px;
  width: 80px;
  overflow: hidden;
  text-indent: 100%;
  background: #00d5d8 url(../images/slide-down.svg) no-repeat center;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
/* line 73, ../sass/partials/components/_flexslider.scss */
.slides-go-down a:hover {
  background-color: #00bcbf;
}

/* line 79, ../sass/partials/components/_flexslider.scss */
.hero-container {
  overflow: hidden;
  background: #333;
  height: 100%;
}

/* line 88, ../sass/partials/components/_flexslider.scss */
.flexslider {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 94, ../sass/partials/components/_flexslider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 100, ../sass/partials/components/_flexslider.scss */
.flexslider .slides img {
  /*width:  100%;
  */
  display: block;
  max-width: none;
}

/*removed width 100%,  plugin will take care of size*/
/* line 106, ../sass/partials/components/_flexslider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
/* line 112, ../sass/partials/components/_flexslider.scss */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 121, ../sass/partials/components/_flexslider.scss */
html[xmlns] .slides {
  display: block;
}

/* line 125, ../sass/partials/components/_flexslider.scss */
* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script,  such as Modernizr,  make sure you
 * include js that eliminates this class on page load */
/* line 133, ../sass/partials/components/_flexslider.scss */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Lucy Sánchez Theme
*********************************/
/* line 140, ../sass/partials/components/_flexslider.scss */
.flexslider {
  margin: 0 0 60px;
  position: fixed;
  width: 100%;
  zoom: 1;
}
/* line 145, ../sass/partials/components/_flexslider.scss */
.flexslider li {
  height: 100%;
  background: #333;
}
/* line 148, ../sass/partials/components/_flexslider.scss */
.flexslider li.empty {
  background: transparent;
}
/* line 151, ../sass/partials/components/_flexslider.scss */
.flexslider li h3 {
  color: #fff;
}
/* line 155, ../sass/partials/components/_flexslider.scss */
.flexslider .slides {
  zoom: 1;
  height: 100%;
}

/* line 160, ../sass/partials/components/_flexslider.scss */
.empty-container {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 165, ../sass/partials/components/_flexslider.scss */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  height: 100%;
}

/* line 174, ../sass/partials/components/_flexslider.scss */
.loading .flex-viewport {
  max-height: 300px;
}

/* Direction Nav */
/* line 179, ../sass/partials/components/_flexslider.scss */
.flex-direction-nav {
  *height: 0;
}

/* line 183, ../sass/partials/components/_flexslider.scss */
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: 0;
  position: absolute;
  top: 0;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

/* line 202, ../sass/partials/components/_flexslider.scss */
.flex-direction-nav .flex-prev {
  left: -50px;
  display: none;
}

/* line 207, ../sass/partials/components/_flexslider.scss */
.flex-direction-nav .flex-next {
  right: 0;
  text-align: right;
  opacity: 1;
  background: url(../images/slide-next.svg) no-repeat center;
  background-color: rgba(0, 204, 255, 0.8);
  background-size: 25px 54px;
  text-indent: 100%;
  overflow: hidden;
  color: #fff;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  height: 70px;
  width: 50px;
  top: 43%;
}
/* line 232, ../sass/partials/components/_flexslider.scss */
.flex-direction-nav .flex-next:hover {
  background-color: rgba(0, 204, 255, 0.9);
  width: 50px;
}
/* line 242, ../sass/partials/components/_flexslider.scss */
.flex-direction-nav .flex-next.hide {
  visibility: 0;
  opacity: 0;
}

/* line 248, ../sass/partials/components/_flexslider.scss */
.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}

/* line 5, ../sass/partials/components/_gallery.scss */
.gallery ul {
  overflow: hidden;
  padding: 0;
}
/* line 9, ../sass/partials/components/_gallery.scss */
.gallery li {
  margin-bottom: 20px;
}

/* line 2, ../sass/partials/components/_global.scss */
.header {
  z-index: 10;
}

/* line 5, ../sass/partials/components/_global.scss */
.hero-container {
  z-index: 5;
}

/* line 8, ../sass/partials/components/_global.scss */
.flexslider {
  z-index: 5;
}

/* line 11, ../sass/partials/components/_global.scss */
.under-slides {
  z-index: 1;
}

/* line 16, ../sass/partials/components/_global.scss */
.header {
  position: fixed;
  left: 0;
  top: 0;
}

/* line 23, ../sass/partials/components/_global.scss */
.title {
  text-align: center;
  margin: 0 0 50px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  width: 130px;
  margin: 0 auto 50px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
}
/* line 35, ../sass/partials/components/_global.scss */
.title:after {
  content: '';
  border-bottom: solid 2px #fff;
  width: 20px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
}

/* line 49, ../sass/partials/components/_global.scss */
.block-section {
  padding-top: 40px;
  padding-bottom: 40px;
  /* 	margin-bottom: 60px; */
}

/* Preload images */
/* line 2, ../sass/partials/components/_lightbox.scss */
body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none;
}

/* line 7, ../sass/partials/components/_lightbox.scss */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 18, ../sass/partials/components/_lightbox.scss */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

/* line 28, ../sass/partials/components/_lightbox.scss */
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 39, ../sass/partials/components/_lightbox.scss */
.lightbox a img {
  border: none;
}

/* line 43, ../sass/partials/components/_lightbox.scss */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 57, ../sass/partials/components/_lightbox.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 63, ../sass/partials/components/_lightbox.scss */
.lb-container {
  padding: 4px;
}

/* line 67, ../sass/partials/components/_lightbox.scss */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 77, ../sass/partials/components/_lightbox.scss */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

/* line 85, ../sass/partials/components/_lightbox.scss */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 94, ../sass/partials/components/_lightbox.scss */
.lb-container > .nav {
  left: 0;
}

/* line 98, ../sass/partials/components/_lightbox.scss */
.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

/* line 103, ../sass/partials/components/_lightbox.scss */
.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

/* line 109, ../sass/partials/components/_lightbox.scss */
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 122, ../sass/partials/components/_lightbox.scss */
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 127, ../sass/partials/components/_lightbox.scss */
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 140, ../sass/partials/components/_lightbox.scss */
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 145, ../sass/partials/components/_lightbox.scss */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 158, ../sass/partials/components/_lightbox.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 164, ../sass/partials/components/_lightbox.scss */
.lb-data {
  padding: 0 4px;
  color: #ccc;
}

/* line 169, ../sass/partials/components/_lightbox.scss */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

/* line 176, ../sass/partials/components/_lightbox.scss */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

/* line 182, ../sass/partials/components/_lightbox.scss */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

/* line 190, ../sass/partials/components/_lightbox.scss */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* line 206, ../sass/partials/components/_lightbox.scss */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 1, ../sass/partials/components/_navigation.scss */
h1 {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(150, 150, 150, 0.8);
  padding: 20px;
  font-size: 40px;
  margin-bottom: 20px;
  position: fixed;
  top: 15%;
}

/* line 22, ../sass/partials/components/_navigation.scss */
.main-nav {
  padding-left: 20px;
  position: fixed;
  top: 43%;
}
/* line 31, ../sass/partials/components/_navigation.scss */
.main-nav ul {
  padding: 23px 0px;
  border: solid 1px #fff;
  border-left: 0;
  border-right: 0;
  width: 280px;
}
/* line 42, ../sass/partials/components/_navigation.scss */
.main-nav li {
  list-style-type: none;
  display: inline-block;
  padding: 0 5px;
  font-family: "Lato";
}
/* line 50, ../sass/partials/components/_navigation.scss */
.main-nav li a {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px rgba(150, 150, 150, 0.8);
}

/* line 58, ../sass/partials/components/_navigation.scss */
.back-to-top {
  position: fixed;
  bottom: -100px;
  left: 50%;
  margin-left: -75px;
  background: #35538b url(../images/slide-up.svg) no-repeat center 8px;
  width: 150px;
  height: 150px;
  line-height: 400px;
  overflow: hidden;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 12;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 77, ../sass/partials/components/_navigation.scss */
.back-to-top.visible {
  display: block;
  visibility: visible;
  opacity: 1;
}

/* line 1, ../sass/partials/pages/_bio.scss */
.bio {
  background: #37233c;
}
/* line 3, ../sass/partials/pages/_bio.scss */
.bio .limiter {
  padding: 20px;
  margin: 0 auto;
}

/* line 12, ../sass/partials/pages/_bio.scss */
.bio p {
  font-size: 15px;
}
/* line 14, ../sass/partials/pages/_bio.scss */
.bio p a {
  color: #0CF;
}

/* line 1, ../sass/partials/pages/_contact.scss */
.contact {
  text-align: center;
  background-color: #281a2c;
  margin-bottom: 0;
  border-top: solid 3px #81f8e2;
  padding-bottom: 100px;
}
/* line 7, ../sass/partials/pages/_contact.scss */
.contact .title {
  background: url(../images/contact-separator.svg) bottom center no-repeat;
  border-bottom: 0;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 10px 0 30px;
}
/* line 14, ../sass/partials/pages/_contact.scss */
.contact .title:after {
  display: none;
}

/* line 20, ../sass/partials/pages/_contact.scss */
.ml {
  color: #81f8e2;
  font-size: 14px;
  margin-bottom: 20px;
  display: block;
}

/* line 27, ../sass/partials/pages/_contact.scss */
.social-menu ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
/* line 32, ../sass/partials/pages/_contact.scss */
.social-menu li {
  display: inline-block;
  padding: 0 5px;
}

/* line 39, ../sass/partials/pages/_contact.scss */
.social-item {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-indent: 100%;
  overflow: hidden;
  background-image: url(../images/social.svg);
  background-repeat: no-repeat;
  background-color: #19111c;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

/* line 50, ../sass/partials/pages/_contact.scss */
.fb {
  background-position: center -10px;
}

/* line 53, ../sass/partials/pages/_contact.scss */
.tw {
  background-position: center -70px;
}
