header#header {
  left: 50%;
  margin-left: -600px;
  padding: 35px 20px;
  display: table;
}

header#header,
#header.scrolled {
  box-shadow: none !important;
}

header#header #logo h3 a {
  background: url("../images/signature.png") no-repeat center;
  background-size: 100%;
  display: block;
  text-indent: -11988px;
  height: 60px;
  width: 150px;
}

.navigation li a{
    font-size: 12px;
    font-size: 1.2rem;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    color: #4f4f4f;
    &:hover {
      color: #000;
      font-weight: bold;
    }
}
// 
// .home .navigation li:first-child {
//   display: none;
// }

#header #navbar ul.navigation li a:before,
#header #navbar ul.navigation li a:after {
  display: none;
}

#header.scrolled #navbar a,
#header.scrolled #navbar a:hover {
  color: #000 !important;
}
