.bio {
	padding: 0;
	background: lighten($body-bg-color, 5%);
	border-bottom: solid 3px #81f8e2;
	.grid {
		overflow: hidden;
		padding: 40px 0;
	}
	.content-limiter {
		padding: 20px;
		margin: 0 auto;
		@include breakpoint($desktop) {
			width: 60%;
			padding: 0;	
		}
	}
}
.bio p {
	font-size: 15px;
	a {
		color: #0CF;
	}
}