.bio {
  margin-bottom: 35px;
  .content-limiter {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @include breakpoint($tablet) {
      flex-direction: row;
      justify-content: flex-start;
    }
  }
	.content-limiter {
		@include breakpoint(800px) {
			width: 70%;
			padding: 0;	
		}
	}
}
.bio-image {
  max-width: 140px;
  margin-bottom: 20px;
  @include breakpoint($tablet) {
    margin-right: 40px;
  }
}