<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html  class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Lucy Sánchez | Ilustración</title>
  <link rel="stylesheet" href="/css/style.css">
  <meta property="og:title" content="Lucy Sánchez, Ilustradora" />
  <meta property="og:image" content="http://www.lulusanchez.com/img/og.jpg" />
  <meta property="og:description" content="Hola, soy Lu y estas son mis ilustraciones. ¡Visita mi nueva tienda en línea!" />
  {{>header-html}}
</head>
<body>
{{>header}}
{{>slideshow}}
<div class="content-container">
  {{>gallery}}
  {{>store}}
  {{>bio}}
  {{>contact}}
</div> <!-- content container -->
{{>footer}}