{{>header-html}}

<h2>{{ this.page.title }}</h2>
{{> body}}

<ul>
  {{#withSort product 'data.weight'}}
    {{#each this.pages }}
    <li><a href="/store/{{filename}}">{{ this.data.title }}</a></li>
    {{/each}}
  {{/withSort}}
</ul>

{{>footer}}