<a name="bio"></a>
<section class="bio grid block-section">
  <h2 class="sub-heading">Bio</h2>
  <div class="content-limiter">
    <img class="bio-image" src="img/bio-image.jpg" alt="Ilustración de Lucy Sánchez">
    <p>Hola! Soy Lucy Sánchez, ilustradora y diseñadora costarricense graduada de la Universidad de Costa Rica, ornitóloga wannabe,  co-fundadora de <a href="http://www.estudiomanati.com" target="_blank">estudiomanati.com</a>, partner in crime de <a href="http://www.twitter.com/betovarg">@betovarg</a> y madre adoptiva de Loba y Cacique. Mi vida ha estado llena de colores e historias en donde la naturaleza ha jugado un papel importante y se ve reflejado en la mayoría de mis trabajos.</p>
  </div>
</section>