<a name="contact"></a>
<div class="contact grid block-section">
  <h2 class="title">Contacto</h2>
  <a class="ml" href="mailto:hola@lulusanchez.com">hola@lulusanchez.com</a>
  <b class="tel">Tel: +506 8898-4694</b> 
  <nav class="social-menu">
    <ul>
      <li><a class="social-item fb" target="_blank" href="https://www.facebook.com/pages/Lucy-S%C3%A1nchez/1468923746703229">Facebook</a></li>
      <li><a class="social-item tw" target="_blank" href="http://www.twitter.com/lusanvar">Twitter</a></li>
    </ul>
  </nav>
</div>
</div>