<a name="contact"></a>
<section class="contact grid block-section">
  <div class="contact-left">
    <p class="contact-intro"><strong>Estemos en contacto:</strong> <a class="ml" href="mailto:hola@lulusanchez.com">hola@lulusanchez.com</a></p>
    <nav class="social-menu">
      <ul class="social-menu-container">
        <li class="social-menu-item"><a class="social-item tw" target="_blank" href="http://www.twitter.com/lusanvar">Twitter</a></li>
        <li class="social-menu-item"><a class="social-item insta" target="_blank" href="https://www.instagram.com/lucyilustra">Facebook</a></li>
      </ul>
    </nav>
  </div>
  <div class="contact-right">
    <a href="tel:+50688984694" class="tel">Tel: +506 8898-4694</a>
    <div class="country">San José, Costa Rica</div>
  </div>
</section>

<!-- back to top -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
