<a name="gallery"></a>
<section class="gallery block-section">
  <div class="gallery-section-aligner section-aligner grid section-collapsed">
  <h2 class="sub-heading">Ilustraciones</h2>
  <ul>
  <li>
    <a href="img/gallery/full/n-31.jpg" class="nolightbox"><img src="img/gallery/n-31-thumb.jpg" /></a>
  </li>
  <li>
    <a href="img/gallery/full/n-32.jpg" class="nolightbox"><img src="img/gallery/n-32-thumb.jpg" /></a>
  </li>
  <li>
    <a href="img/gallery/full/n-33.jpg" class="nolightbox"><img src="img/gallery/n-33-thumb.jpg" /></a>
  </li>
    <li>
      <a href="img/gallery/full/n-29.jpg" class="nolightbox"><img src="img/gallery/n-29-thumb.jpg" /></a>
    </li>
    <li>
      <a href="img/gallery/full/n-28.jpg" class="nolightbox"><img src="img/gallery/n-28-thumb.jpg" /></a>
    </li>
    <li>
      <a href="img/gallery/full/n-26.jpg" class="nolightbox"><img src="img/gallery/n-26-thumb.jpg" /></a>
    </li>
    <li>
      <a href="img/gallery/full/n-25.jpg" class="nolightbox"><img src="img/gallery/n-25-thumb.jpg" /></a>
    </li>
    <li>
      <a href="img/gallery/full/n-24.jpg" class="nolightbox"><img src="img/gallery/n-24-thumb.jpg" /></a>
    </li>
    <li>
      <a href="img/gallery/full/n-19.jpg" class="nolightbox"><img src="img/gallery/n-19-thumb.jpg" /></a>
    </li>
    <li>
      <a href="img/gallery/full/n-20.jpg" class="nolightbox"><img src="img/gallery/n-20-thumb.jpg" /></a>
    </li>
    <li>
      <a href="img/gallery/full/14.jpg" class="nolightbox"><img src="img/gallery/14-thumb.jpg" /></a>
    </li>
    <li>
      <a href="img/gallery/full/2.jpg" class="nolightbox"><img src="img/gallery/2-thumb.jpg" /></a>
    </li>
    <li>
      <a href="img/gallery/full/3.jpg" class="nolightbox"><img src="img/gallery/3-thumb.jpg" /></a>
    </li>
    <li>
      <a href="img/gallery/full/15.jpg" class="nolightbox"><img src="img/gallery/15-thumb.jpg" /></a>
    </li>
    <li>
      <a href="img/gallery/full/16.jpg" class="nolightbox"><img src="img/gallery/16-thumb.jpg" /></a>
    </li>
    <li>
      <a href="img/gallery/full/17.jpg" class="nolightbox"><img src="img/gallery/17-thumb.jpg" /></a>
    </li>
    <li>
      <a href="img/gallery/full/18.jpg" class="nolightbox"><img src="img/gallery/18-thumb.jpg" /></a>
    </li>
    <li>
      <a href="img/gallery/full/8.jpg" class="nolightbox"><img src="img/gallery/8-thumb.jpg" /></a>
    </li>
    <li>
      <a href="img/gallery/full/12.jpg" class="nolightbox"><img src="img/gallery/12-thumb.jpg" /></a>
    </li>
  </ul>
  </div>
</section>
<div class="grid">
  <span class="button show-button show-gal">Ver todas las ilustraciones</span>
</div>
