<a name="top"></a>
<header class="main-header grid">
  <div class="site-name"><a href="/"><img alt="Lucy Sánchez" src="img/signature.png"></a></div>
  <nav class="main-nav" role="navigaton">
    <ul class="main-nav-list-container">
      <li class="main-nav-list-item"><a class="main-nav-link" href="epitafio.html">Epitafio de una cazadora</a></li>
      <li class="main-nav-list-item"><a class="main-nav-link" href="/#gallery">Ilustraciones</a></li>
      <li class="main-nav-list-item"><a class="main-nav-link" href="#bio">Bio</a></li>
      <li class="main-nav-list-item"><a class="main-nav-link" href="/#store" class="menu-store">Tienda</a></li>
      <li class="main-nav-list-item"><a class="main-nav-link" href="/#contact">Contacto</a></li>
    </ul>
  </nav>
</header>