<section class="hero-intro grid block-section">
  <div class="hero-intro-section hero-intro-right">
    <img src="img/intro-image.jpg" alt="Ilustración de Epitafio de una cazadora">
  </div>
  <div class="hero-intro-section hero-intro-left">
    <h3 class="pretitle">Presentado por Editorial de Costa Rica</h3>
    <h1 class="main-heading">Epitafio de una cazadora</h1>
    <div class="hero-intro-summary">
    <p>Uno de los 10 libros más vendidos de la colección Colibrí 2015.</p>
    <p>Una fábula de Petróneo escrita en el siglo V, adaptada e ilustrada por Lucy Sánchez. Un álbum ilustrado que <strong>habla de la muerte pero celebra la vida.</strong></p>
    </div>
    <div class="hero-intro-actions">
      <a href="epitafio.html#buy" class="button button-inline">Comprar en línea</a>
      <a href="epitafio.html" class="button-filled button-inline">Conocer más</a>
    </div>
  </div>
</section>