<div class="hero-container hide-on-show-product">
  <div class="under-slides">
    <h3>Más ilustraciones</h3>
  </div>
  <div class="flexslider">
    <ul class="slides">
      <li>
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source class="slide-image" srcset="img/epitafio-libro.jpg" media="(min-width: 600px)">
          <!--[if IE 9]></video><![endif]-->
          <img class="slide-image" srcset="img/epitafio-libro-m.jpg">
        </picture>
        <!-- <img class="slide-image" src="img/epitafio2.jpg"> -->
      </li>
      <li>
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source class="slide-image" srcset="img/epitafio2.jpg" media="(min-width: 600px)">
          <!--[if IE 9]></video><![endif]-->
          <img class="slide-image" srcset="img/epitafio2-m.jpg">
        </picture>
      </li>
      <li>
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source class="slide-image" srcset="img/epitafio3.jpg" media="(min-width: 600px)">
          <!--[if IE 9]></video><![endif]-->
          <img class="slide-image" srcset="img/epitafio3-m.jpg">
        </picture>
      </li>
      <li>
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source class="slide-image" srcset="img/epitafio4.jpg" media="(min-width: 600px)">
          <!--[if IE 9]></video><![endif]-->
          <img class="slide-image" srcset="img/epitafio4-m.jpg">
        </picture>
      </li>
      <li class="empty">
        <div class="empty-container">
          <div class="slides-go-down">
            <a href="#gallery">abajo</a>
          </div>
        </div>
      </li>
    </ul> <!-- slides ul -->
  </div>
</div>