<div class="sg-pattern">
  <h1 class="main-heading">Main heading</h1>
  <h2 class="sub-heading">Sub heading</h1>
  <div class="pretitle">Pretitle for content</div>
</div>

<div class="sg-pattern">
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>
</div>

<div class="sg-pattern">
  <p><strong>Vestibulum ante</strong> ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; <em>Proin vel ante a orci tempus eleifend ut et magna</em>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum.
  </p>
  <ul>
    <li>Item list #1</li>
    <li>Item list #2</li>
    <li>Item list #3</li>
  </ul>
  <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum.
  </p>
  <a href="">This is a link</a>
</div>

<div class="sg-pattern">
  <button class="button">Button regular</button>
</div>

<div class="sg-pattern">
  <button class="button-filled">Button filled</button>
</div>

<div class="sg-pattern">
  <button class="button-filled-highlighted">Button filled hightlight</button>
</div>

<div class="sg-pattern">
  image, rwd
</div>

<div class="sg-pattern">
  navigation
</div>

<div class="sg-pattern">
  footer
</div>



