html {
  font-size: 62.5%;
  line-height: 1.4em; }

.header {
  z-index: 10; }

.hero-container {
  z-index: 5; }

.flexslider {
  z-index: 5; }

.under-slides {
  z-index: 1; }

html, body, button, input, select, textarea, .pure-g, .pure-g [class*="pure-u"] {
  font-family: "Work Sans", Helvetica, sans-serif; }

header#header, section#body, footer#footer {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

#body {
  font-size: 14px;
  font-size: 1.4em;
  padding-top: 14rem;
  padding-bottom: 11rem;
  color: #4f4f4f;
  margin: 0;
  background: #fff; }

.grid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; }

p {
  margin: 0 0 0.7em 0;
  font-size: 14px;
  font-size: 1.4rem; }

.header {
  position: fixed;
  left: 0;
  top: 0; }

.title {
  text-align: center;
  margin: 0 0 50px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  width: 130px;
  margin: 0 auto 50px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  position: relative; }
  .title:after {
    content: '';
    border-bottom: solid 2px #fff;
    width: 20px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px; }

.block-section {
  padding-top: 40px;
  padding-bottom: 40px;
  max-height: none;
  -webkit-transition: all .5s ease-in-out 0s;
  -moz-transition: all .5s ease-in-out 0s;
  -ms-transition: all .5s ease-in-out 0s;
  -o-transition: all .5s ease-in-out 0s;
  transition: all .5s ease-in-out 0s; }

.hide {
  display: none; }

header#header {
  left: 50%;
  margin-left: -600px;
  padding: 35px 20px;
  display: table; }

header#header,
#header.scrolled {
  box-shadow: none !important; }

header#header #logo h3 a {
  background: url("../images/signature.png") no-repeat center;
  background-size: 100%;
  display: block;
  text-indent: -11988px;
  height: 60px;
  width: 150px; }

.navigation li a {
  font-size: 12px;
  font-size: 1.2rem;
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  color: #4f4f4f; }
  .navigation li a:hover {
    color: #000;
    font-weight: bold; }

#header #navbar ul.navigation li a:before,
#header #navbar ul.navigation li a:after {
  display: none; }

#header.scrolled #navbar a,
#header.scrolled #navbar a:hover {
  color: #000 !important; }

#footer {
  background: transparent;
  position: relative;
  color: #4f4f4f; }

.contact {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  border-top: solid 1px #BDBDBD;
  padding: 35px 20px; }

.block-section {
  max-height: none;
  transition: all .5s ease-in-out 0s; }

.social-menu-container {
  display: inline-block;
  margin: 0 0 10px;
  padding: 0; }
  @media (min-width: 680px) {
    .social-menu-container {
      margin: 0; } }

.contact-left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 680px) {
    .contact-left {
      -ms-flex-direction: row;
      flex-direction: row;
      padding-right: 40px; } }

.social-menu-container {
  display: inline-block;
  margin: 0 0 10px;
  padding: 0; }
  @media (min-width: 680px) {
    .social-menu-container {
      margin: 0; } }

.social-menu-item {
  display: inline-block;
  padding: 0 5px; }

.contact-left strong {
  color: #000; }

#footer .contact-intro {
  text-align: center;
  margin: 20px 20px 0 0; }
  @media (min-width: 680px) {
    #footer .contact-intro {
      text-align: left;
      margin-right: 20px; } }

.contact-right {
  font-size: 14px;
  font-size: 1.4rem; }
  @media (min-width: 680px) {
    .contact-right {
      border-left: solid 1px #bdbdbd;
      padding-left: 40px; } }

.contact-right a, .contact-right a:hover {
  color: #000 !important;
  font-weight: bold; }

.social-item {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-indent: 100%;
  overflow: hidden;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-color: #2B333F;
  border-radius: 100%; }

.insta {
  background-position: center -242px; }

.tw {
  background-position: center -302px; }

.ml, .ml:hover {
  color: #4f4f4f !important; }

.gallery-home {
  height: auto;
  position: relative; }

.gallery-home ul {
  overflow: hidden;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: 32px 0; }

.gallery-home li {
  margin: 0 10px 20px 10px;
  flex-basis: calc(24% - 20px);
  display: flex;
  max-height: 265px; }

.gallery-home li a {
  display: flex; }

.gallery-home li img {
  width: 100%;
  height: auto; }

.gallery-home .show-button {
  border: solid 3px #000;
  border-radius: 0;
  background-color: #fff;
  color: #000;
  font-weight: bold; }

@media (min-width: 320px) and (max-width: 767px) {
  .gallery-home li {
    width: 48.5714285714%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 2.8571428571%;
    margin-bottom: 10px; }
  .gallery-home li:nth-child(2n+0) {
    margin-right: 0; } }

@media (min-width: 768px) and (max-width: 959px) {
  .gallery-home li {
    width: 31.4285714286%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 2.8571428571%; }
  .gallery-home li:nth-child(3n+0) {
    margin-right: 0; } }

@media (min-width: 960px) {
  .gallery-home li {
    width: 22.8571428571%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 2.8571428571%; }
  .gallery-home li:nth-child(4n+0) {
    margin-right: 0; } }

/*------------------------------------*    $VARIABLES
\*------------------------------------*/
.button {
  border-radius: 7px;
  font-size: 15px;
  line-height: 1.5;
  display: inline-block;
  background-color: #555;
  padding: 10px 20px;
  color: #fff;
  font-family: "Montserrat";
  font-weight: normal;
  border: 0;
  outline: 0; }
  @media (min-width: 680px) {
    .button .button, .button .button-filled, .button .button-filled-highlighted {
      display: inline-block;
      margin-bottom: 0; } }

.button-arrow:after {
  content: '';
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 4px;
  border-color: transparent transparent transparent #fff; }

.hero-intro {
  background: red;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }
  @media (min-width: 769px) {
    .hero-intro {
      -ms-flex-direction: row;
      flex-direction: row; } }

.pretitle {
  font-size: 13px;
  font-size: 1.3rem;
  color: #EB5757;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold; }

.main-heading {
  font-size: 24px;
  font-size: 2.4rem;
  color: #000;
  text-transform: none;
  margin-bottom: 20px;
  text-align: left;
  font-weight: bold; }
  @media (min-width: 400px) {
    .main-heading {
      font-size: 34px;
      font-size: 3.4rem; } }

.hero-intro .button, .hero-intro .button-filled, .hero-intro .button-filled-highlighted {
  font-size: 14px;
  font-size: 1.4rem;
  border: solid 3px #000;
  border-radius: 0;
  background-color: #fff;
  cursor: pointer;
  line-height: 1.5;
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  outline: 0; }
  @media (min-width: 680px) {
    .hero-intro .button, .hero-intro .button-filled, .hero-intro .button-filled-highlighted {
      display: inline-block;
      margin-bottom: 0; } }

.hero-intro .button-filled {
  background: #EDCECE;
  color: #4f4f4f;
  border-color: #EE9191; }

@media (min-width: 769px) {
  .hero-intro-right {
    -ms-flex-order: 2;
    order: 2; } }

.hero-intro-left {
  padding: 20px; }
  @media (min-width: 769px) {
    .hero-intro-left {
      padding: 40px;
      -ms-flex-order: 1;
      order: 1; } }

.hero-intro-section {
  background-color: #F4F4F4; }
  @media (min-width: 769px) {
    .hero-intro-section {
      width: 50%; } }

.bio {
  overflow: hidden; }
  .bio h2 {
    font-weight: bold; }
  .bio img {
    float: left;
    max-width: 140px;
    margin: 0 20px 20px 0; }
  .bio p {
    font-weight: bold; }
