html {
  font-size: 62.5%;
  line-height: 1.4em; }

.header {
  z-index: 10; }

.hero-container {
  z-index: 5; }

.flexslider {
  z-index: 5; }

.under-slides {
  z-index: 1; }

html, body, button, input, select, textarea, .pure-g, .pure-g [class*="pure-u"] {
  font-family: "Work Sans", Helvetica, sans-serif; }

header#header, section#body, footer#footer {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

#body {
  font-size: 14px;
  font-size: 1.4em;
  padding-top: 14rem;
  padding-bottom: 11rem;
  color: #4f4f4f;
  margin: 0;
  background: #fff; }

.grid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; }

p {
  margin: 0 0 0.7em 0;
  font-size: 14px;
  font-size: 1.4rem; }

.header {
  position: fixed;
  left: 0;
  top: 0; }

.title {
  text-align: center;
  margin: 0 0 50px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  width: 130px;
  margin: 0 auto 50px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  position: relative; }
  .title:after {
    content: '';
    border-bottom: solid 2px #fff;
    width: 20px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px; }

.block-section {
  padding-top: 40px;
  padding-bottom: 40px;
  max-height: none;
  -webkit-transition: all .5s ease-in-out 0s;
  -moz-transition: all .5s ease-in-out 0s;
  -ms-transition: all .5s ease-in-out 0s;
  -o-transition: all .5s ease-in-out 0s;
  transition: all .5s ease-in-out 0s; }

.hide {
  display: none; }

header#header {
  left: 50%;
  margin-left: -600px;
  padding: 35px 20px;
  display: table; }

header#header,
#header.scrolled {
  box-shadow: none !important; }

header#header #logo h3 a {
  background: url("../images/signature.png") no-repeat center;
  background-size: 100%;
  display: block;
  text-indent: -11988px;
  height: 60px;
  width: 150px; }

.navigation li a {
  font-size: 12px;
  font-size: 1.2rem;
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  color: #4f4f4f; }
  .navigation li a:hover {
    color: #000;
    font-weight: bold; }

.navigation li:first-child {
  display: none; }

#header #navbar ul.navigation li a:before,
#header #navbar ul.navigation li a:after {
  display: none; }

#header.scrolled #navbar a,
#header.scrolled #navbar a:hover {
  color: #000 !important; }

#footer {
  background: transparent;
  position: relative;
  color: #4f4f4f; }

.contact {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  border-top: solid 1px #BDBDBD;
  padding: 35px 20px; }

.block-section {
  max-height: none;
  transition: all .5s ease-in-out 0s; }

.social-menu-container {
  display: inline-block;
  margin: 0 0 10px;
  padding: 0; }
  @media (min-width: 680px) {
    .social-menu-container {
      margin: 0; } }

.contact-left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 680px) {
    .contact-left {
      -ms-flex-direction: row;
      flex-direction: row;
      padding-right: 40px; } }

.social-menu-container {
  display: inline-block;
  margin: 0 0 10px;
  padding: 0; }
  @media (min-width: 680px) {
    .social-menu-container {
      margin: 0; } }

.social-menu-item {
  display: inline-block;
  padding: 0 5px; }

.contact-left strong {
  color: #000; }

#footer .contact-intro {
  text-align: center;
  margin: 20px 20px 0 0; }
  @media (min-width: 680px) {
    #footer .contact-intro {
      text-align: left;
      margin-right: 20px; } }

.contact-right {
  font-size: 14px;
  font-size: 1.4rem; }
  @media (min-width: 680px) {
    .contact-right {
      border-left: solid 1px #bdbdbd;
      padding-left: 40px; } }

.contact-right a, .contact-right a:hover {
  color: #000 !important;
  font-weight: bold; }

.social-item {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-indent: 100%;
  overflow: hidden;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-color: #2B333F;
  border-radius: 100%; }

.insta {
  background-position: center -242px; }

.tw {
  background-position: center -302px; }

.ml, .ml:hover {
  color: #4f4f4f !important; }

.bio {
  overflow: hidden; }
  .bio h2 {
    font-weight: bold; }
  .bio img {
    float: left;
    max-width: 140px;
    margin: 0 20px 20px 0; }
  .bio p {
    font-weight: bold; }
