/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active, 
.flexslider a:active, 
.flex-container a:focus, 
.flexslider a:focus   {
    outline:  none;
}

.slides, 
.flex-control-nav, 
.flex-direction-nav  {
    margin:  0;
     padding:  0;
     list-style:  none;
}

/* FlexSlider Necessary Styles
*********************************/
// slides area
.under-slides {
  position: fixed;
  left: 0;
  top: 65%;
  width: 100%;
  text-align: center;
  @include breakpoint($tablet) {
		top: 40%;  
  }
  h3 {
	  font-weight: 400;
	  font-size: 15px;
	  color: #00d5d8;
  }
}

.slides-go-down {
  width: 100%;
  text-align: center;
  height: 50px;
  position: absolute;
  z-index: 10;
  top: 75%;
  left: 0;
  margin-top: -20px;
  @include breakpoint($tablet) {
		top: 50%;  
  }
  a {
    display: inline-block;
    height: 80px;
    width: 	80px;
    overflow: hidden;
		text-indent: 100%;
    background: #00d5d8 url(../img/slide-down.svg) no-repeat center;
    @include border-radius(50px);
    -webkit-transition:  	all .3s ease;
	   -moz-transition:  		all .3s ease;
	   -o-transition:  			all .3s ease;
	   transition:  				all .3s ease;
	  &:hover {
			background-color: darken(#00d5d8, 5%)  
	  }
  }
}

.hero-container {
  overflow: hidden;
  background: #333;
  height: 100%;
  @include breakpoint($desktop) {
	  min-height: 500px;
  }
}

.flexslider  {
    margin:  0;
     padding:  0;
     height:  100%;
}

.flexslider .slides > li  {
    display:  none;
     -webkit-backface-visibility:  hidden;
     overflow:  hidden;
}
 /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img  {
    /*width:  100%;
    */ display:  block;
     max-width:  none;
     position: relative;
}
 /*removed width 100%,  plugin will take care of size*/
.flex-pauseplay span  {
    text-transform:  capitalize;
}


/* Clearfix for the .slides element */
.slides:after  {
    content:  ".";
     display:  block;
     clear:  both;
     visibility:  hidden;
     line-height:  0;
     height:  0;
}

html[xmlns] .slides  {
    display:  block;
}

* html .slides  {
    height:  1%;
}


/* No JavaScript Fallback */
/* If you are not using another script,  such as Modernizr,  make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child  {
    display:  block;
}


/* FlexSlider Lucy Sánchez Theme
*********************************/
.flexslider  {
     margin:  0 0 60px;
     position: fixed;
     width: 100%;
     zoom:  1;
		li  {
			height:  100%;
			background: #333;
			&.empty {
				background: transparent;
			}
			h3 {
				color: #fff;
			}
		}
	 .slides  {
     zoom:  1;
     height:  100%;
	}
}
.empty-container {
	width: 100%;
	height: 100%;
	position: relative;
}
.flex-viewport  {
     max-height:  2000px;
     -webkit-transition:  all 1s ease;
     -moz-transition:  all 1s ease;
     -o-transition:  all 1s ease;
     transition:  all 1s ease;
     height:  100%;
}

.loading .flex-viewport  {
     max-height:  300px;
 }

/* Direction Nav */
.flex-direction-nav  {
    *height:  0;
}

.flex-direction-nav a   {
     text-decoration: none;
     display:  block;
     width:  40px;
     height:  40px;
     margin:  0;
     position:  absolute;
     top: 0;
     z-index:  10;
     overflow:  hidden;
     opacity:  0;
     cursor:  pointer;
     color:  rgba(0, 0, 0, 0.8);
     text-shadow:  1px 1px 0 rgba(255, 255, 255, 0.3);
     -webkit-transition:  all .3s ease;
     -moz-transition:  all .3s ease;
     transition:  all .3s ease;
 }

.flex-direction-nav .flex-prev  {
     left:  -50px;
     display: none;
 }

.flex-direction-nav .flex-next  {
     right:  0;
     text-align:  right;
     opacity: 1;
     background: url(../img/slide-next.svg) no-repeat center;
     background-color: rgba(0,204,255,0.8);
     background-size: 25px 54px;
     text-indent: 100%;
     overflow: hidden;
     color: #fff;
     -webkit-transition:  all .5s ease;
     -moz-transition:  		all .5s ease;
     -o-transition:  			all .5s ease;
     transition:  				all .5s ease;
     height: 130px;
     width: 50px;
     top: 33%;
     @include breakpoint(0 410px) {
      background-size: 18px 38px;
     }
     @include breakpoint(410px 679px) {
      height: 70px;
     }
     @include breakpoint($tablet) {
	     height: 100%;
	     width: 50px;
	     top: 0;
	     margin-top: 0;
	     background-color: rgba(0,204,255,0.5);
	     background-size: auto;
     }
     &:hover {
	     background-color: rgba(0,204,255,0.9);
	     width: 50px;
     }
     @include breakpoint($desktop) {
	   	width: 50px;
	   	&:hover {
		   width: 100px;	
	   	}
     }
    &.hide {
	    visibility: 0;
	    opacity: 0;
    }
 }

.flex-direction-nav .flex-disabled  {
     opacity:  0!important;
     filter: alpha(opacity=0);
     cursor:  default;
 }