form {}
input[type="text"],
input[type="email"] {
	display: block;
	border: solid 1px #ccc;
	padding: 10px;
	width: 100%;
	@include border-radius(4px);
	@extend %border-box;
	&:hover {
		border-color: #ababab;
	}
}

.form-container {
	margin-top: 30px;
	@include breakpoint($tablet) {
		margin-top: 0;
	}
	h2 {
		@include font-size(24);
		line-height: 1;
		margin-bottom: 20px;
	}
	p {
		@include font-size(14);
		margin-bottom: 20px;
	}
	.button {
		background-color: $store-accent-color;
	}
}

.form-item {
	margin-bottom: 15px;
	label {
		width: 100%;
		display: inline-block;
		margin-bottom: 5px;
	}
	@include font-size(13);
}
.radio-container {
	> label {
		font-weight: 700;
		margin-bottom: 10px;
		@include font-size(13);
	}
	label {
		width: auto;
	}
}

input[type="submit"] {
	width: 100%;
	margin-bottom: 30px;
	cursor: pointer;
	 -webkit-transition: all .2s ease-out;
			 -moz-transition: all .2s ease-out;
				-ms-transition: all .2s ease-out;
				 -o-transition: all .2s ease-out;
						transition: all .2s ease-out;
	@include breakpoint($tablet) {
		width: auto;
	}
	@include breakpoint($desktop) {
		&:hover {
			background-color: lighten($store-accent-color, 5%);
		}
	}
	.csstransitions &:hover {
		@include breakpoint($desktop) {
			letter-spacing: 1px;
			@include single-box-shadow(0, 2px, 3px, 1px, rgba(0,0,0,0.3), null)
		}
	}
}