.site-name {
  max-width: 120px;
  margin-bottom: 10px;
  @include breakpoint($tablet) {
    max-width: 180px;
    margin-bottom: 0;
  }
}
.main-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 20px;
  @include breakpoint($tablet) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 20px;
  }
}
.main-nav {
  margin-bottom: 10px;
  @include breakpoint($tablet) {
    margin-bottom: 0;
  }
}
.main-nav-list-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  @include breakpoint($tablet) {
    flex-direction: row;
  }
}
.main-nav-list-item {
  list-style-type: none;
  &:last-child {
    .main-nav-link {
      padding-right: 0;
    }
  }
  &:first-child {
    .main-nav-link {
      padding-left: 0;
    }
  }
}
.main-nav-link {
  @include font-size(12);
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  color: #4f4f4f;
  @include breakpoint($tablet) {
    padding: 0 8px;
  }
  @include breakpoint(880px) {
    padding: 0 19px;
  }
  &:hover {
    color: #000;
    font-weight: bold;
  }
}

.back-to-top {
  position: fixed;
  bottom: -100px;
  left: 50%;
  margin-left: -75px;
  background-color: #ff0047;
  background-image: url(../img/sprite.png);
  .svg & {
    background-image: url(../img/sprite.svg);
  }
  background-repeat: no-repeat;
  background-position: center -15px;
  width: 	150px;
  height: 150px;
  line-height: 400px;
  overflow: hidden;
  border-radius: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 12;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition:    all 0.5s ease-in-out;
  -ms-transition:     all 0.5s ease-in-out;
  -o-transition:      all 0.5s ease-in-out;
  transition:         all 0.5s ease-in-out;
  transform: translateZ(0); //force repaint in webkit
  &.visible {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

// epitafio nav
.epitafio-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  background: #f2f2f2;
  padding: 10px;
  margin: 0;
  @include breakpoint($tablet) {
    justify-content: flex-start;
    padding: 20px 10px;
  }
}
.epitafio-nav-item {
  @extend %reset-list;
  width: 48%;
  text-align: left;
  @include breakpoint($tablet) {
    width: auto;
  }
  .button-filled-highlighted {
    text-transform: none;
    font-weight: 300;
    @include breakpoint($tablet) {
      padding: 10px 20px;
      margin-left: 20px;
    }
  }
}
.epitafio-nav-link {
  margin-bottom: 5px;
  display: inline-block;
  @include font-size(12);
  padding: 0 5px;
  @include breakpoint($tablet) {
    padding: 0 19px;
    margin-bottom: 0;
    @include font-size(15);
  }
}

.nav-sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-sticky-margin {
  padding-top: 76px;
  @include breakpoint($tablet) {
    padding-top: 82px;
  }
}