h1 {
	font-family: "Montserrat", Helvetica, sans-serif;
	font-weight: 400;
	line-height: 1;
	color: #fff;
	text-shadow: 0px 0px 5px rgba(68, 68, 68, 0.8);
	padding: 20px;
	font-size: 40px;
	margin-bottom: 20px;
	position: fixed;
	top: 15%;
	@include breakpoint($tablet){
		position: relative;
		max-width: 300px;
		font-size: 60px;
		padding: 0 40px;
		margin-top: 100px;	
		margin-bottom: 40px;
	}
}

.main-nav {
	padding-left: 20px;
	position: fixed;
	top: 33%;
	@include breakpoint($tablet){
		padding-left: 40px;	
		position: relative;
		top: auto;
	}
  ul {
    padding: 23px 0px;
    border: solid 1px #fff;
    border-left: 0;
    border-right: 0;
    @include breakpoint(0 410px) {
      width: 120px;
      padding: 10px 0;
      li {
        width: 100%;
        a {
          display: inline-block;
          padding: 3px 0;
        }
      }
    }
    @include breakpoint($tablet){
	  	padding: 8px 0px;
    }
  }
  li {
    list-style-type: none;
    display: inline-block;
    padding: 0 5px;
    font-family: "Lato";
    @include breakpoint($tablet){
	  	padding: 0 10px;  
    }
    a {
      color: #fff;
      text-transform: uppercase;
      text-shadow: 0px 0px 5px rgba(150, 150, 150, 0.8);
      @include breakpoint(0 372px) {
        font-size: 13px;
      }
    }
  }
}

.back-to-top {
  position: fixed;
  bottom: -100px;
  left: 50%;
  margin-left: -75px;
  background: #35538B url(../img/slide-up.svg) no-repeat center 8px;
  width: 	150px;
  height: 150px;
  line-height: 400px;
  overflow: hidden;
  @include border-radius(100%);
  visibility: hidden;
  opacity: 0;
  z-index: 12;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition:    all 0.5s ease-in-out;
  -ms-transition:     all 0.5s ease-in-out;
  -o-transition:      all 0.5s ease-in-out;
  transition:         all 0.5s ease-in-out;
  &.visible {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}