// z-index
.header {
  z-index: 10;
}
.slides {
  z-index: 5;
}
.under-slides {
  z-index: 1;
}

// #header
.header {
  position: absolute;
  left: 0;
  top: 0;
}

// slides area
.under-slides {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
}

.hero-container {
  overflow: hidden;
}

