//
// General layout for all pages
//
// global singularity
@include add-grid(6);
@include add-gutter(1/3);

.grid {
	max-width: 1200px;
	margin: 0 auto;
  padding: 0 20px;
}
.content-container {
  position: relative;
  z-index: 11;
  -webkit-transform: translate3d(0, 0, 0);
}