// add border box to element
%border-box {
  box-sizing: border-box;
}
// remove bullets from lists
%reset-list {
  list-style-type: none;
}
// inline block
%inline-block {
  display: inline-block;
  vertical-align: top;
}