//
// Variables
//

// Breakpoints
$phone: 400px;
$tablet: 680px;
$desktop: 960px;
$full-width: 1200px;
$mobile-only: 0 679px;

// Colors
$body-bg-color: #fff;
$pink: #EB5757;
$light-pink: #EDCECE;
$submit-paypal-color: #EB5757; //anaranjado
$submit-paypal-secondary-color: #00a1d9; //celeste

// Typography
$font-primary: 'Work Sans', Helvetica, sans-serif;

// under flexslider accent color
$under-accent-color: #FF0047;

// specifics
$store-accent-color: #FF0047;

//flexslider next background-size: 
$flexslider-next-accent: rgba(0,245,255,0.8);